* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.search-row .search-start {
  margin-left: 0;
  margin-right: 8px;
}
.icon[alt="Apps"] {
  width: 22px;
  height: 22px;
}
.effect:active {
  transform: scale(1.2);
  transition: transform 0.1s;
}
.icon:active,
.profile-icon:active {
  transform: scale(1.2);
  transition: transform 0.1s;
}
.navbar img[alt="Labs"] {
  width: 32px;
  height: 32px;
}



body {
  font-family: Arial, sans-serif;
  background-color: white;
}


.navbar {
  width: 100%;
  padding: 15px 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #5f6368;
  font-size: 14px;
}

.icon {
  width: 28px;
  height: 28px;
  object-fit: contain;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
}

.profile-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
}

.nav-links li {
  display: flex;
  align-items: center;
}

.main-container {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 270px;
  margin-bottom: 30px;
}

.search-row {
  display: flex;
  align-items: center;
  background: white;
  border: 1px solid #000000;
  border-radius: 24px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  padding: 2px 10px 2px 10px;
  width: 500px;
  margin-bottom: 10px;
}

.search-box {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 12px 10px;
  background: transparent;
}

.search-icon {
  width: 24px;
  height: 24px;
  margin-left: 8px;
  cursor: pointer;
}

.buttons {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #f8f9fa;
  border: 1px solid #c6c6c6;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #f1f1f1;
}
